---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import TidalLogo from "@src/assets/tidal-icon.svg";
import DeezerLogo from "@src/assets/deezer-icon.svg";
import YoutubeMusicLogo from "@src/assets/youtubeMusic-icon.svg";
import SpotifyLogo from "@src/assets/spotify-icon.svg";
import { printDetails } from "@src/utils";

interface Props {
  playlist: CollectionEntry<"playlists">["data"];
}

const { playlist } = Astro.props;

const details = printDetails(playlist.totalTracks, playlist.lastUpdate);
---

<div class="container">
  <Image
    src={playlist.images[0].url}
    width={640}
    height={640}
    class="image-cover"
    alt="Playlist illustration made from a collage of the first four album covers"
    loading="eager"
  />
  <div class="infos">
    <div class="title">{playlist.name}</div>
    <div class="details">
      {details}
    </div>
  </div>

  <div class="links">
    <a
      href={playlist.url.tidal}
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Tidal"
    >
      <TidalLogo />
    </a>
    <a
      href={playlist.url.deezer}
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Deezer"
    >
      <DeezerLogo />
    </a>
    <a
      href={playlist.url.youtube}
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Youtube Music"
    >
      <YoutubeMusicLogo />
    </a>
    <a
      href={playlist.url.spotify}
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Spotify"
    >
      <SpotifyLogo />
    </a>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .image-cover {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    border: 1px solid;
    border-color: var(--dark);
  }

  html.dark .image-cover {
    border-color: var(--light);
  }

  .infos {
    margin: auto;
  }

  .infos > * {
    text-align: center;
  }

  .title {
    font-size: 1.4rem;
  }

  .details {
    font-size: 1rem;
    color: var(--dark-grey);
    font-style: italic;
  }

  html.dark .details {
    color: var(--light-grey);
  }

  .links {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
  }

  .links a {
    width: 3.6rem;
    height: auto;
    display: block;
  }
</style>
